<div class="text-center">
    <h3 class="display-6">About Us</h3>
    <hr />
    <article>
        Comic Warehouse is the leading provider of collectible comics and pop-culture related merchandise in Africa.  
        We focus on providing comic and pop-culture products that are first to market, licensed and provide the highest levels of entertainment and quality. 
        Our inventory includes comics, graphic novels, statues, life-size statues, apparel, games, model cars, merchandise and so much more.  
        Our large inventory and international partner network allows us the flexibility to easily manage our customer’s specific and unique requests.
        We also buy and sell previously owned comics and collectibles.
    </article>
</div>
