@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="img">
        <img class="img-fluid" src="~/images/main.jpg" width="700" height="500"/>
    </div>
</div>
