@{
}
<div class="text-center">
    <h3 class="display-6">Location</h3>
    <p>Visit The Store closest to you and pick up your favourite comic:</p>
    <div id="map">
        <iframe class="img-fluid" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d760927.0126228856!2d27.822162984930312!3d-25.759925049671953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1scomic%20book%20stores%20!5e0!3m2!1sen!2sza!4v1677640847342!5m2!1sen!2sza" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

   
    
</div>

